<?xml version="1.0"?>
<launch>
    <param name="publish_speed" value= "10" />
    <include file="$(find assignment_2_2022)/launch/assignment1.launch" />
    <node pkg="secondassign" type="c_pub.py" name="control_pub" output="screen"  />
    <node pkg="secondassign" type="print.py" name="print" output="screen"  />
    <node pkg="secondassign" type="distance.py" name="distance" output="screen"  />
</launch>
